body, html {
   margin: 0;
   padding: 0;
   background-color: white;
   color: #FFF;
}

body a,h1, h2 {
   font-family: 'Roboto', sans-serif;
}

body p, ul, div {
   font-family: Georgia, serif;
}

.navBar {
   background-color: rgb(231, 231, 176);
   overflow: hidden;
   position: fixed;
   width: 100%;
   top: 0;
}

.navBar a {
   float: right;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.navBar a.split {
   float: left;
}

@media (hover:hover){
   .navBar a:hover,
   .navBar a.split:hover {
      background-color: #141313;
      color: white;
   }
}

.home {
   background-color: rgb(32, 32, 92);
   color: rgb(255, 255, 255);
   padding-top: 20%;
   padding-left: 15%;
   padding-bottom: 25%;
   font-size:x-large;
}

.resume {
   background-color: rgb(231, 231, 176);
   border-radius: 5px;
   border-style: none;
   box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
   color: #000;
   cursor: pointer;
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 500;
   outline: none;
   text-align: center;
   transition: all .3s cubic-bezier(.05, .03, .35, 1);
   user-select: none; 
   -webkit-user-select: none; 
   touch-action: manipulation; 
   vertical-align: bottom; 
   margin-right: 2%;
   height: 40px; 
   line-height: 40px; 
   width: 100px; 
   margin-left: -4px; 
}

.about,
.skills,
.project {
   background-color: #f7f7f7; 
   color: black; 
   text-align: justify; 
   padding-left: 15%; 
   padding-bottom: 15%; 
   padding-top: 10%; 
   padding-right: 15%; 
   z-index: 1;
}

.skills {
   background-color: rgb(32, 32, 92);
   color: white;
}

.skills .icons1,
.skills .icons2 {
   display: flex;
   justify-content: space-between;
   padding-bottom: 5%;
   padding-top: 5%;
}

.skills .icons1 img {
   width: 50px; 
   height: 50px;  
}

.skills .icons2 img {
   width: 80px; 
   height: 80px;  
}

.project .projects,
.project .personalProjects {
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between; 
   text-align: left;  
   font-size: small; 
   font-family: 'Roboto', sans-serif; 
}

.projects img,
.personalProjects img {
   width: 350px; 
   height: 250px;  
}

.project-title {
   width: 300px;  
}

.projects img:hover {
   opacity: 0.8;  
}

.contact {
   color: black;
   display: flex;
   text-align: center;
   background-color: rgb(231, 231, 176);
   overflow: hidden;
   width: 100%;
}

.contact p {
   padding-left: 1%;
}

.contact a {
   float: left;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
