html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body a,h1, h2 {
  font-family: 'Roboto', sans-serif;
}

body p, ul, div {
  font-family: Georgia, serif;
}

.navBar {
  background-color: rgb(231, 231, 176);
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

.navBar a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a.split {
  float: left;
}

@media (hover:hover){
  .navBar a:hover,
  .navBar a.split:hover {
     background-color: #141313;
     color: white;
  }
}

.project {
  margin-top: 50px;
}

.content {
  width: 70vw;
  height: 90%;
  border-radius: 5%;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 50px;
  text-align: justify;
  position: relative; 
  padding-bottom: 50px; 
  overflow: auto;
}

.content h1 {
  text-align: center;
}

.content img {
  width: 100px;
  height: 30px;
}

.spaced-list li {
  margin-bottom: 10px;
}

.arrows-container {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  bottom: 10px; 
}

.arrow-left,
.arrow-right {
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
