<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-YjfEODFDywp/1M41XYg2+dwbHUMIEyfO9F45VWL7Y2BCT39NMSKqJImhZHdeNzWsxHyKSH8ZiYiG0bsWb4F5sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project1.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <body>
    <div class="navBar">
        <a href="{{ url_for('main') }}" class="split">Steven Duchene</a>
        <a href="{{ url_for('main') }}#contact">Me contacter</a>
        <a href="{{ url_for('main') }}#project">Projets</a>
        <a href="{{ url_for('main') }}#skills">Compétences</a>
        <a href="{{ url_for('main') }}#about">À propos</a>
      </div> 

    <div class="content">
        <h1>LOG2990 : Projet de logiciel d'application Web</h1>
        <p>Le second projet intégrateur était axé sur la conception, la réalisation, la validation et le test d'une application Web. L'objectif était de recréer Microsoft Paint sur une page Web en utilisant Angular. Il fallait donc reproduire tous les différents outils disponibles. Cela incluait donc le crayon de base, mais aussi les outils de copier-coller, la commande de retour en arrière et l'agrandissement de la zone de dessin. 
          Dans le cadre du développement, il a aussi fallu tester notre application à l'aide de Jasmine, un framework adapté au développement et à l'exécution de tests unitaires automatisables. Finalement, la possibilité d'enregister les dessins et de reprendre un ancien dessin devrait être implémenté. POur cela, nous avons utilisé une base de données MongoDB.
            <br><br>Dans le cadre de ce projet, j'ai eu l'opportunité de : <br>
        <ul>
          <li>Développper une application Web</li><br>
          <li>Organiser le développement du projet dans une équipe de six personnes</li><br>
          <li>Respecter les délais de présentation à chaque mois</li>
        </ul>    </p>
        <p>Les principales technologies utilisées dans le développement du projet étaient Angular, Typescript, HTML, CSS, Jasmine et MongoDB.</p>
    </div>

    <div class="arrows-container">
      <a href="{{ url_for('project1') }}"><i class="fas fa-chevron-left arrow-left"></i></a>
      <a href="{{ url_for('project3') }}"><i class="fas fa-chevron-right arrow-right"></i></a>
    </div>
  </body>
</html>